<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12D78</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MBBAppUSBCDCECMData</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.1b6, MBB USB CDC ECM driver Data Interface</string>
	<key>CFBundleIdentifier</key>
	<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MBBAppUSBCDCECMData</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.2.1b6</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4H1503</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0463</string>
	<key>DTXcodeBuild</key>
	<string>4H1503</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MBBUSBCDCECMData_14BB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5307</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14BC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5308</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14BD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5309</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5310</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14DB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5339</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14DC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5340</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14F6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5366</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14F7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5367</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14F8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5368</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14F9</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5369</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_14FA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5370</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_1575</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5493</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_1576</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5494</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_1578</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5496</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_1590</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5520</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15BC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5564</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15BD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5565</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5566</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15BF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5567</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15C7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5575</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_15C8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5576</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>MBBUSBCDCECMData_NORMAL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mbbApp.driver.MBBAppUSBCDCECMData</string>
			<key>IOClass</key>
			<string>MBBUSBCDCECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>32</integer>
			<key>bInterfaceClass</key>
			<integer>10</integer>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>6</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.7.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.5.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0d0</string>
	</dict>
</dict>
</plist>
